@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}


html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: rgb(42, 42, 42);
    flex-direction: column;
}

