@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body,
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-color: rgb(87, 87, 87);
}

#openBtn {
    border: 0;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.modal-container {
    /* display: none; */
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    /* Enable scroll if need */
    overflow: auto;
    background-color: rgb(61, 61, 61);
}

.modal-content {
    width: 400px;
    background-color: rgb(42, 47, 52);
    margin: auto;
    margin-top: 100px;
    animation: animatetop 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.modal-body {
    padding: 15px 20px;
    text-align: justify;
    line-height: 1.5rem;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(84, 87, 87);
    color: white;
    justify-content: space-between;
}

.modal-header .closeBtn {
    font-size: 35px;
}

.modal-header .closeBtn:hover {
    color: rgb(56, 153, 191);
}

.modal-body {
    padding: 15px 20px;
    text-align: justify;
    line-height: 1.5rem;
}

@keyframes animatetop {
    from {
        margin-top: -300px;
        opacity: 0;
    }

    to {
        margin-top: 100px;
        opacity: 1;
    }

}